@font-face {
    font-family: "joe-college";
    src: url("./font/joe-college.ttf");
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    background-color: #835745;
}

body {
    background: linear-gradient(
    135deg,
    #120b06 0%,   /* Dark, near-black coffee brown */
    #2d1d13 50%,  /* Deep, dark brown */
    #5a3e27 100%  /* Dark brown with a hint of warmth */
);
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
}

a {
    font-family: "joe-college", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

#logo {
    font-family: "joe-college", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    flex-grow: 2;
    margin-left: 7.2rem;
    cursor: pointer;
}

#navbar-btn {
    margin-right: 8.5rem;
}

li {
    padding: 3px;
}

h1, h2 {
    color: white;
    font-family: "joe-college", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    height: 90vh;
    width: 96vw;
    margin: auto;
}

.home-page-container {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-left-container, .home-right-container {
    width: 40vw;
    display: flex;
}

.home-left-container {
    flex-direction: column;
}

.home-right-container {
    justify-content: center;
}

.home-page-button {
    font-family: "joe-college", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3e2b1f;
    width: 9rem;
    height: 3rem;
    color: white;
    border: 2px solid white;
}

.home-page-button:hover {
    cursor: pointer;
    color: #3e2b1f;
    background-color: white;
    transition: 400ms;
}

.homepage-h1 {
    margin-bottom: 0;
}

.home-page-image {
    width: 37vw;
    height: 57vh;
}

.menu-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80vw;
    height: 80vh;
    margin-top: 1.5rem;
}

.menu-heading {
    margin-left: 8rem;
    font-size: 20px;
}

.menu-left-container {
    margin-left: 1rem;
}

.menu-right-container {
    margin-left: 7rem;
}

.aboutus-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    gap: 2rem;
}

.aboutus-image {
    width : 40vw;
    height : 60vh;
}

.aboutus-left {
    width: 30vw;
    gap: 10px;
}

/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
    body {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    body::before {
        content: "This website isn't available for mobile yet";
        font-size: 1.5rem;
        color: white;
        text-align: center;
    }

    #content, .home-page-container, .menu-container, .aboutus-container, header {
        display: none;
    }
}
